.control
  border 0
  background none
  font-family $base--font-family

  &:focus
    outline 0

.control--text
  padding 15px 0
  border-bottom 3px solid $color--blue-grey--50
  font-size 30px
  color $color--white
  transition border-color 0.2s

  +width-min($mq--tablet)
    font-size 60px
    border-width 4px

  &:focus
    border-color $color--white

  &::-webkit-input-placeholder
    color $color--blue-grey--50

  &:-moz-placeholder
    color $color--blue-grey--50

  &::-moz-placeholder
    color $color--blue-grey--50

  &:-ms-input-placeholder
    color $color--blue-grey--50
