//
// HEADER
// ======
//

.header
  position fixed
  top 0
  left 0
  width 100%
  padding $base--spacing

  +width-min($mq--tablet)
    padding $base--spacing ($base--spacing * 2)

.site-title
  display inline-block

.help
  display flex
  justify-content center
  align-items center
  font-family arial
  font-weight bold
  font-size 20px
  width 35px
  height 35px
  border 3px solid $color--blue-grey--50
  border-radius 50%
  color $color--blue-grey--50
  float right
