doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1')
    meta(name='description', content='Check the status of a website')
    title It's back
    link(rel='stylesheet', href='/css/index.css')
  body
    block content
