extend default

block content
  section.section.section--active.js-domain-section      
    form.domain-form(onsubmit='submit()')
      label.domain-form__inner
        input.domain-form__input.control.control--text.js-url-input(type='text' placeholder='example.com' required pattern='^((http|https):\\/\\/)?[a-zA-Z0-9-\\.]+\\.[a-z]{2,4}(:\\d+)?(\\/[a-zA-Z0-9]+)*(\\/?|#[a-zA-Z0-9]*)$' title='Invalid URL')
        .domain-form__action.js-url-submit
          .icon.icon--link
            include ../assets/images/link.svg
          .icon.icon--arrow
            include ../assets/images/arrow.svg
          input.button(type='submit' value='Get status')
  
  script(src='https://code.jquery.com/jquery-2.2.3.min.js')
  
  script.
    var $urlInput = $('.js-url-input')
      , $urlInputValue = $urlInput.val()
          
    valueCheck()
    
    $urlInput.bind("input propertychange", function () {
      $urlInputValue = $urlInput.val()
      
      valueCheck()
    })
    
    function valueCheck() {
      if ($urlInputValue === '') {
        $urlInput.removeClass('not-empty')
      } else {
        $urlInput.addClass('not-empty')
      }
    }
