extend default

block content
  main.content

    section.section.section--active.js-domain-section
      form.domain-form(onsubmit='submit()')
        label.domain-form__inner
          input.domain-form__input.control.control--text.js-url(type='text' placeholder='example.com' required pattern='^((http|https):\\/\\/)?[a-zA-Z0-9-\\.]+\\.[a-z]{2,4}(:\\d+)?(\\/[a-zA-Z0-9]+)*(\\/?|#[a-zA-Z0-9]*)$' title='Invalid URL')
          .domain-form__action
            .icon.icon--link
              include ../assets/images/link.svg
            .icon.icon--arrow
              include ../assets/images/arrow.svg
            input.button(type='submit' value='Get status')
  
  script(src='https://code.jquery.com/jquery-2.2.3.min.js')
  
  script.
    var $input = $('.js-url')
      , $value = $input.val()
      
    valueCheck()
    
    $input.bind("input propertychange", function () {
      $value = $input.val()
      
      valueCheck()
    })
    
    function valueCheck() {
      if ($value === '') {
        $input.removeClass('not-empty')
      } else {
        $input.addClass('not-empty')
      }
    }
    
    function submit() {
      var domainSection = $('.js-domain-section')
      
      domainSection.addClass('section--active')
    }
