//
// SECTION
// =======
//

.section
  display flex
  align-items center
  justify-content center
  padding 40px
  background $color--blue-grey--800

.section--active
  flex 1
  background $color--blue-grey--900
